# Node dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*

# Build / output folders (if you add a bundler later)
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Editor folders/files
.vscode/
.idea/