*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --doc-margin: 3em;
    --border-radius: 4px;
}

body {
    background-color: #f8f3f3;
    font-family: "Nunito", sans-serif;
    max-width: 900px;
    margin: 0.3em auto;
    border: 1px solid #2b4257;
    border-radius: var(--border-radius);

}

/* Elements */

a {
    font-style: normal;
    color:#2b4257
}

a:is(:hover, :focus) {
    color: #334e6b;
    font-weight: bold;
}

img.hero-image {
    width: 90%;
    margin-top: 1em;
    margin-bottom: 3em;
    border-radius: var(--border-radius);
}

/* Containers */

header,
section {
    margin: var(--doc-margin);

}


ul.main-nav {
    display: flex;
    gap: 3em;
    list-style-type: none;
    margin: 0;
    padding: 0;

}

section.images-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-between;
    
}

div.image-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-radius: var(--border-radius);
    width: 100%;
    max-width: 360px;
    height: 50%;
    transform: rotate(6deg);
}


/* Deco */

div.wave-container {
    position: relative;
    width: 100%;
    height: 50px;
}

div.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
}

div.wave-1 {
    background-color: #334e6b;
    clip-path: path("M0,30 C56,10 113,45 169,25 C225,5 281,40 338,22 C394,5 450,42 506,24 C563,8 619,44 675,26 C731,8 788,42 844,24 C872,15 886,20 900,22 L900,50 L0,50 Z");
    z-index: 1;
}

div.wave-2 {
    background-color: #2b4257;
    clip-path: path("M0,38 C56,20 113,48 169,34 C225,18 281,46 338,32 C394,16 450,48 506,34 C563,18 619,46 675,32 C731,16 788,46 844,32 C872,24 886,28 900,30 L900,50 L0,50 Z");
    z-index: 2;
}